<p style="color: green"><%= notice %></p>

<main class="container container-xs-fluid">
        <section>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="card pb-3 mb-5 rounded-5 mx-3"  style="width: 23rem;">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2020/01/chat-exotic-shorthair-gris-1024x681.jpeg" class="card-img-top rounded-top-5" alt="Exotic Shorthair">
                    <div class="p-4 card-body d-flex flex-column align-items-around justify-content-between">
                    <h5 class="card-title text-center">Exotic Shorthair</h5>
                    <p class="card-text"> Ce chat très sociable s'entend même avec les chiens !</p>
                    <a href="#" class="btn btn-outline-primary justify-content-center align-items-center">View more</a>
                    </div>
                </div>
                
                <div class="card pb-3 mb-5 rounded-5 mx-3" style="width: 23rem;">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2018/11/american-curl-1.jpg" class="card-img-top rounded-top-5" alt="American Curl">
                    <div class="p-4 card-body d-flex flex-column align-items-around justify-content-between">
                    <h5 class="card-title text-center">American Curl</h5>
                    <p class="card-text">Il est équilibré, joueur et tourné vers les humains.</p>
                    <a href="#" class="btn btn-outline-primary justify-content-center align-items-center">View more</a>
                    </div>
                </div>

                <div class="card pb-3 mb-5 rounded-5 mx-3" style="width: 23rem;">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2017/10/bleu-russe-devant-sa-gamelle-1536x1024.jpg" class="card-img-top rounded-top-5" alt="Prussian Blue">
                    <div class="p-4 card-body d-flex flex-column align-items-around justify-content-between">
                    <h5 class="card-title text-center">Prussian Blue</h5>
                    <p class="card-text">Ce chat est particulièrement intelligent, il aime être encouragé et sollicité !</p>
                    <a href="#" class="btn btn-outline-primary justify-content-center align-items-center">View more</a>
                    </div>
                </div>

                <div class="card pb-3 mb-5 rounded-5 mx-3" style="width: 23rem;">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2018/02/fotolia_82719975-1.jpg" class="card-img-top rounded-top-5" alt="Bengal">
                    <div class="p-4 card-body d-flex flex-column align-items-around justify-content-between">
                    <h5 class="card-title">Bengal</h5>
                    <p class="card-text">Le Bengal est un chat confiant, plutôt dominant, et actif.</p>
                    <a href="#" class="btn btn-outline-primary justify-content-center align-items-center">Go somewhere</a>
                    </div>
                </div>

                <div class="card pb-3 mb-5 rounded-5 mx-3" style="width: 23rem;">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2017/10/norwegische-waldkatze.jpg" class="card-img-top rounded-top-5" alt="Norwegian">
                    <div class="p-4 card-body d-flex flex-column align-items-around justify-content-between">
                    <h5 class="card-title">Norwegian</h5>
                    <p class="card-text">Ces chats sont exceptionnellement doués pour sauter et grimper. Ils aiment jouer et chasser et ont besoin d’être stimulés. </p>
                    <a href="#" class="btn btn-outline-primary justify-content-center align-items-center">Go somewhere</a>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="py-5">
            <div class="row mt-4 d-flex align-items-center justify-content-between">
                <div class="col-12 col-md-5">
                    <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2018/07/british-shorthair.jpg" class="rounded" alt="History" width="100%">
                </div>
                <div class="col-12 offset-md-1 col-md-6">
                    <p class="text-center  mt-3 fs-5">If we claim to be the mark of affection, it is because we put our hearts into offering you the best for the well-being of your pets.</p>
                </div>
            </div>
        </section>
    

        <section id="contact" class="py-5">
            <div class="container">
                <h2 class="mb-0">Any questions ?</h2>
                <h3 class="fw-light fs-5">Contact us here</h3>

                <div class="row gy-4  d-flex align-items-center justify-content-between">
                    <div class="col-12 col-md-5">
                        <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2018/02/fotolia_82719975-1.jpg" alt="Contact" width="100%">
                    </div>
                    <div class="col-12 offset-md-1 col-md-6">

                        <!-- Formulaire -->
                        <form class="row">
                            <div class="col-12 my-2">
                                <label for="email" class="form-label">Email address</label>
                                <input name="email" type="email" class="form-control" id="email">
                            </div>
                            <div class="col-12 my-2">
                                <label for="message" class="form-label">Message</label>
                                <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                            </div>
                            <div class="col-12 my-2">
                                <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>



<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>
